# Exercise 1: Chapter Exercises

Include code for each exercise you complete for the reading assignment. Use the template provided to you on Google Drive. In a separate code cell, provide code for each of the following questions:

1. From section 5.4 of the textbook, solve the following exercises: Q1, Q2, and Q3.
2. From section 5.5 of the textbook, solve the following exercises: Q1.
3. From section 5.6 of the textbook, solve the  following exercises:
Q1

In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/bibia/Downloads/movies_metadata.csv").dropna(axis=1, how='all')
df.head()

df.shape
df.columns

#5.4 Q1
budget_df = df[df['budget'] > 1_000_000]
print(budget_df.shape)

(7208, 23)

In [25]:
#5.4 Q2

budget_lookup = budget_df.set_index('title')['budget']
budget_lookup['Dead Presidents']

np.int64(10000000)

In [26]:
#5.4 Q3

budget_lookup = budget_lookup.sort_index()
budget_lookup_as_and_bs = budget_lookup['A Bag of Hammers':'Byzantium']

budget_lookup_as_and_bs.shape
print(budget_lookup_as_and_bs.shape[0])

933

In [27]:
#5.5 Q1

df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df = df[(df['runtime'] >= 10) & (df['runtime'] <= 180)]
time_scheduler = df.set_index('runtime')['title'].sort_index()
time_scheduler.loc[154]
len(time_scheduler.loc[154])

31

In [30]:
#5.6 Q1
import pandas as pd
df = pd.read_csv("C:/Users/bibia/Downloads/movies_metadata.csv").dropna(axis=1, how='all')

df_highly_voted = df[df.vote_count > 20]
df_high_rated = df_highly_voted[df_highly_voted.vote_average > 8]
print(len(df_high_rated))

178

# Exercise 2: Data Cleaning.
1. Select a subframe for this assignment that contains the following columns and in this order: id, title, release_date, original_language, genres, budget, revenue, and runtime. Display the head of the dataframe.
2. Compute the number of duplicate rows and display it. Drop duplicate rows from the frame.
3. Compute the number of rows with missing values and display the result. Drop all rows with missing values.

In [32]:
import pandas as pd
df = pd.read_csv("C:/Users/bibia/Downloads/movies_metadata.csv").dropna(axis=1, how='all')

cols = ['id', 'title', 'release_date', 'original_language', 'genres', 'budget', 'revenue', 'runtime']
df_sub = df[cols]

# 1. Print head of the dataframe
print(df_sub.head())

# 2. Number of duplicate rows
df_sub = df_sub.drop_duplicates()

# 3. Compute number of rows with missing values
num_missing = df_sub.isnull().any(axis=1).sum()
print(num_missing)

# 3. Drop all rows with missing values
df_sub = df_sub.dropna()

        id                        title release_date original_language  \
0    862.0                    Toy Story   1995-10-30                en
1   8844.0                      Jumanji   1995-12-15                en
2  15602.0             Grumpier Old Men   1995-12-22                en
3  31357.0            Waiting to Exhale   1995-12-22                en
4  11862.0  Father of the Bride Part II   1995-02-10                en

                                              genres    budget      revenue  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  30000000  373554033.0
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  65000000  262797249.0
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...         0          0.0
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  16000000   81452156.0
4                     [{'id': 35, 'name': 'Comedy'}]         0   76578911.0

   runtime
0     81.0
1    104.0
2    101.0
3    127.0
4    106.0
344

# Exercise 3: Data Description and Understanding

After cleaning the movie data:

1. Display the number of unique original languages.
2. Compute the profit for each individual movie and add a Profit column to the dataframe.
3. Compute and display the mean profit.

In [33]:
# 1. Display the number of unique original languages
num_language = df_sub['original_language'].nunique()
print(num_languages)

# 2. Compute profit
df_sub['budget'] = pd.to_numeric(df_sub['budget'])
df_sub['revenue'] = pd.to_numeric(df_sub['revenue'])
df_sub['Profit'] = df_sub['revenue'] - df_sub['budget']

# 3. Display mean profit
mean_profit = df_sub['Profit'].mean()
print(mean_profit)

NameError: name 'num_languages' is not defined